<div class="text-center mt-3">
    <h2>Your matches - {{pagination?.totalCount}} found</h2>
</div>

<div class="container-fluid mt-3">
    <form #form='ngForm' class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="form-group">
            <label>Age from: </label>
            <input type="number" [(ngModel)]="userParams.minAge" class="form-control ml-1" style="width: 70px;" name="minAge" min="18">
        </div>
        <div class="form-group px-2">
            <label>Age to: </label>
            <input type="number" [(ngModel)]="userParams.maxAge" class="form-control ml-1" style="width: 70px;" name="maxAge">
        </div>

        <div class="form-group px-2">
            <label>Show: </label>
            <select name="gender" [(ngModel)]="userParams.gender" style="width: 130px;" class="form-control ml-1">
                <option *ngFor="let gender of genders" [value]='gender.value'>{{gender.display}}</option>
            </select>
        </div>

        <button class="btn btn-success ml-1" type="submit">Filter</button>
        <button class="btn btn-danger ml-1" type="menu" (click)="onReset()">Reset</button>

        <div class="col">
            <button 
            name="orderBy" 
            class="btn btn-primary" 
            (click)="loadMembers()" 
            [(ngModel)]="userParams.orderBy" 
            btnRadio="lastActive">
                Last Active
            </button>
            <button 
            name="orderBy" 
            class="btn btn-primary" 
            (click)="loadMembers()" 
            [(ngModel)]="userParams.orderBy" 
            btnRadio="created">
                Newest Members
            </button>
        </div>
    </form>
</div>

<div class="row d-flex mt-2">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination>
</div>