<div class="card">
    <div class="card-body"
        #scrollMe
        style="overflow: scroll; height: 535px;"
        [scrollTop]="scrollMe.scrollTop"
    >
        <div *ngIf="(messageService.messageThread$ | async).length === 0">
            No messages yet... say hi!
        </div>

        <ul *ngIf="(messageService.messageThread$ | async).length > 0" class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async)">
                <div>
                    <span class="chat-img float-right">
                        <img src={{message.senderUrl}} class="rounded-circle">
                    </span>
                </div>
                <div class="chat-body">
                    <div class="header">
                        <small class="text-muted">
                            <span><i class="fas fa-check"></i>Sent</span>
                            <span class="text-danger" *ngIf="!message.messageRead && message.senderUserName !== username">
                                (unread)
                            </span>
                            <span class="text-succes" *ngIf="message.messageRead && message.senderUserName !== username">
                                (read)
                            </span>
                        </small>
                    </div>
                    <p>{{message.content}}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm='ngForm' (ngSubmit)="onSubmit(username, messageContent)">
            <div class="input-group">
                <input type="text" name="messageContent" class="form-control input-sm" placeholder="Send a private message" required [(ngModel)]="messageContent">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid || loading" type="submit" class="btn btn-primary">
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                        Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>