.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

img {
  display: inline;
  max-height: 50px;
  border: 1px solid rgb(95, 65, 134);
  border-radius: 5px;
}


@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 14px;
  }
  .nav-item {
    max-height: 20.5px;
  }
  img {
    display: none;
  }
}