.toast-custom {
    background-color: purple;
}

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.nav-tabs>li.open,
.member-tabset>.nav-tabs>li:hover {
    border-bottom: 4px solid #9c23ff;
}

.member-tabset>.nav-tabs>li.open>a,
.member-tabset>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: #13b9cf;
}

.member-tabset>.nav-tabs>li.open>a>i,
.member-tabset>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.member-tabset>.nav-tabs>li.open .dropdown-menu,
.member-tabset>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.member-tabset>.nav-tabs>li.active {
    border-bottom: 4px solid #790dd1;
    position: relative;
}

.member-tabset>.nav-tabs>li.active>a {
    border: 0 !important;
    color: #12a7bb;
}

.member-tabset>.nav-tabs>li.active>a>i {
    color: #404040;
}

.member-tabset>.tab-content {
    margin-top: -3px;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #6f42c1 #1a0933;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #1a0933;
}

*::-webkit-scrollbar-thumb {
    background-color: #6f42c1;
    border-radius: 58px;
    border: 0px solid #dfd7d7;
}